In [6]:
import MySQLdb

host = "mysql-320d010-rahimdaud246-8d4e.a.aivencloud.com"
port = 21332
username = "avnadmin"
password = "AVNS_PXkwQiODoam15JJkch0"
database = "hbtn_0e_0_usa"

conn = MySQLdb.connect(host, username, password, database, port)

cur = conn.cursor()

cur.execute("SELECT * FROM states ORDER BY id ASC")

states = cur.fetchall()
for state in states:
	print(state)

((1, 'California'), (2, 'Arizona'), (3, 'Texas'), (4, 'New York'), (5, 'Nevada'))
(1, 'California')
(2, 'Arizona')
(3, 'Texas')
(4, 'New York')
(5, 'Nevada')